<!DOCTYPE html>
<html lang="el">
<head>
  <title>OlaEnT@xis - User Card</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/top_menu" %>
  <br /><br /><br /><br />
  <%= flash_messages %>
  <div class="container <%= controller.controller_name %>">
    <%= yield %>
  </div>
</body>
</html>
